{% extends 'index.html' %}
{% block content %}
    <a href="{% url 'home' %}">Back</a>

    <h1>Customer List</h1>
    <ul>
        {% for customer in customers %}
            <li>
                <strong>{{ customer.email }} - </strong>
                <a href="{% url 'edit_customer' customer.id %}">Edit</a>
                <ul>
                    {% for plate in customer.license_plates.all %}
                        <li>{{ plate.plate_number }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
